{{define "navbar"}}
<nav class="h-12 w-full bg-transparent border-b-2 border-dashed border-transparent">
    <div class="relative container py-2 px-2 mx-auto flex flex-row">
        <a href="/" class="h-8 px-2 flex-grow-0 flex-shrink-0 relative">
            <img class="h-8 absolute" src="/img/julvo.svg" style="filter: brightness(255); transform: translate(4px, 4px);"/>
            <img class="h-8 relative" src="/img/julvo.svg" />
        </a>
        <div class="w-full flex-grow">
        </div>

        <div class="flex flex-row">
            <a class="mr-4 inline-block h-full text-orange-500 hover:text-pink-500 flex-grow-0 flex-shrink-0" href="https://soundcloud.com/inocs" target="_blank">
                <i class="fab fa-soundcloud fa-2x h-full"></i>
            </a>
            <a class="mr-4 inline-block h-full text-blue-600 hover:text-pink-500 flex-grow-0 flex-shrink-0" href="https://twitter.com/julvos" target="_blank">
                <i class="fab fa-twitter fa-2x h-full"></i>
            </a>
            <a class="mr-2 inline-block h-full text-gray-800 hover:text-pink-500 flex-grow-0 flex-shrink-0" href="https://github.com/julvo" target="_blank">
                <i class="fab fa-github fa-2x h-full"></i>
            </a>
        </div>
    </div>
</nav>
{{end}}